<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

<form th:action="@{/auth/register}" th:object="${person}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{userName}" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required/>
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" th:field="*{lastName}" required/>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}" required/>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

</body>
</html>